! Molokai theme
*background: #101010
*foreground: #d0d0d0
*cursorColor: #d0d0d0
*color0: #101010
*color1: #960050
*color2: #66aa11
*color3: #c47f2c
*color4: #30309b
*color5: #7e40a5
*color6: #3579a8
*color7: #9999aa
*color8: #303030
*color9: #ff0090
*color10: #80ff00
*color11: #ffba68
*color12: #5f5fee
*color13: #bb88dd
*color14: #4eb4fa
*color15: #d0d0d0

! term
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.saveLines: 16384
URxvt.transparent: true
URxvt.shading: 20
URxvt.font: xft:Droid Sans Mono-14,xft:Droid Sans Fallback-14
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

URxvt.perl-ext-common: default,matcher,clipboard,font-size

URxvt.keysym.C-equal: perl:font-size:incglobal
URxvt.keysym.C-minus: perl:font-size:decglobal

URxvt.url-launcher: chromium
URxvt.matcher.button: 1
URxvt.colorUL: #4682B4
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste

! cursor
Xcursor.theme: Vanilla-DMZ
